body 
{
  background-color: black;
}

h1
{
  color: white;
  font-size: 2em; 
  margin: .67em 0 
}

p
{
  color: white;
}

table.center-aligned
{
  margin-left: auto;
  margin-right: auto;
}

table, td, th
{
  border: 2px solid white;
}
